<h1>Inside App!!</h1>

<h2>{{ "Input : " + no}}</h2>

<h2>Output : {{ no | marvellousChk : 'Even'}}</h2>
<h2>Output : {{ no | marvellousChk : 'Odd'}}</h2>
<h2>Output : {{ no | marvellousChk : 'Prime'}}</h2>
<h2>Output : {{ no | marvellousChk : 'Perfect'}}</h2>

<h2>{{ "Input : " + no1}}</h2>

<h2>Output : {{ no1 | marvellousChk : 'Even'}}</h2>
<h2>Output : {{ no1 | marvellousChk : 'Odd'}}</h2>
<h2>Output : {{ no1 | marvellousChk : 'Prime'}}</h2>
<h2>Output : {{ no1 | marvellousChk : 'Perfect'}}</h2>